table {
	border-collapse: collapse;
	width: 500px;
	text-align: center;
}

th,
tr,
td {
	border: 1px solid #000;
}

#add, #remove {
	min-width: 70px;
	border: 1px solid blue;
	min-height: 30px;
	margin: 10px;
	border-radius: 5px;
}
